@media screen and (max-width:1200px) {
    body{
        background-color: var(--background-color);
        font-family: var(--font-family);
        overflow: initial;
    }

    .flow-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .main-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        max-width: 90%;
        gap: 20px;
    }

    .entries-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2%;
    }

    .main-actions-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        height: 55px;
    }

    .history-container{
        display: flex;
        flex-direction: column;
        max-width: 688px;
        min-height: 133px;
        width: 100%;
        height: fit-content;
        border-radius: 30px;
        background: var(--surface-color);
        box-shadow: 15px 15px 30px #bebebe;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .value-view.visible{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .help-view{
        display: none;
    }
    
    .help-view.visible{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .help-view.visible h3{
        margin: 0%;
    }

    .help-view.visible p{
        margin: 2%;
    }

    lottie-player{
        width: 20%;
        height: 20%;
    }
}