/* THIS IS FOR TABLETS */
@media screen and (max-width:767px){
    body{
        min-height: 100%;
        height: auto;
        overflow: auto;
    }

    .flow-container{
        overflow: auto;
    }

    .main-container{
        overflow: auto;
    }

    .history-container{
        overflow: scroll;
    }

    textarea{
        overflow: auto;
    }
}